.myImgWrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myImg {
  width: calc(100% - 30px);
  height: auto;

  background: linear-gradient(
    173deg,
    rgba(10, 201, 201, 1) 5%,
    rgba(0, 0, 0, 0.18109250536151966) 50%
  );
}
