@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --test-color: white;
  --primary-color: rgb(31, 31, 54);
  --secondary-color: rgb(49, 207, 212);
  --third-color: rgb(170, 15, 170);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  margin: 0 200px 0 200px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
